.horizontal-card {
  margin: 1rem;

  div > .horizontal-card-body {
    display: flex;

    .card-img {
      width: 20%;
      height: 200px;
    }

    .card-content {
      width: 80%;
    }
  }
}

@media screen and (max-width: 960px) {
  .horizontal-card > div > .horizontal-card-body {
    flex-direction: column;

    .card-img {
      width: 100%;
      height: 250px;
    }

    .card-content {
      width: 100%;
    }
  }
}
