.vertical-card {
  margin: 1rem;
  width: 400px;

  div > .vertical-card-body {
    position: relative;
    .card-img {
      height: 260px;
    }

    .card-content {
      .additional-info {
        display: flex;
        justify-content: flex-end;

        .additional-info-item {
          padding: 0.5rem 1rem;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
